@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/roboto-medium.eot?v=4.7.0");
  src: url("../fonts/roboto-medium.ttf?v=4.7.0") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/roboto-light.eot?v=4.7.0");
  src: url("../fonts/roboto-light.ttf?v=4.7.0") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  list-style: none; }

body {
  background: #333; }

.image {
  width: 100%; }

.header {
  width: 100%;
  top: -80px;
  background: #fff;
  height: 80px;
  z-index: 100;
  -webkit-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s; }

.header-fixed {
  position: fixed;
  top: 0;
  width: 1140px;
  margin: 0 auto;
  z-index: 101; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  margin: 0 10px; }

.navigation-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%; }

.button-modal {
  margin-left: 30px; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999; }

.modal {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 400px;
  background: #fff; }

.fa-times {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer; }

.fa-align-justify {
  display: none;
  cursor: pointer; }

@media (max-width: 1200px) {
  .header-fixed {
    width: 940px; } }

@media (max-width: 992px) {
  .header-fixed {
    width: 720px; } }

@media (max-width: 767px) {
  .header-fixed {
    width: 100%;
    left: 0; }
  .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 100;
    background: #fff;
    width: 100%; }
  .fa-align-justify {
    display: block; } }

.tabs {
  background: #fff;
  height: 300px;
  padding: 30px; }

[data-tab="body"] {
  display: none; }

.active[data-tab="body"] {
  display: block; }

.tab {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #000;
  margin-bottom: 3px;
  background: #fff;
  padding: 10px; }

.tab.active {
  position: relative;
  top: 5px;
  border-bottom: none;
  z-index: 100; }

.tab-content {
  border: 1px solid #000;
  height: 200px; }

.accordeon-block {
  background: #ddd;
  padding: 30px; }

.title {
  display: block;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
  height: 50px; }

.content {
  display: none;
  background: #d8d8; }

.title {
  position: relative; }

.title:before {
  content: '';
  height: 8px;
  width: 8px;
  display: block;
  border: 2px solid #000;
  border-right-width: 0;
  border-top-width: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  right: 20px;
  top: 18px; }

.active-toggle .title:before {
  border: 2px solid #000;
  border-left-width: 0;
  border-bottom-width: 0;
  top: 18px; }
